<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/tasks">Tasks</a>
    <a href="/add" class="active">Add Task</a>
    <a href="/about">About</a>
</div>

    <h1>Add New Task</h1>

<form method="POST">

    <input
        type="text"
        name="task_name"
        placeholder="Enter task name"
        required
    >

    <button type="submit">
        Add Task
    </button>

</form>

</body>
</html>